.header {
    font-size: larger;
    font-weight: bold;
}

.wrapper {
    border: var(--border-width-outside) solid var(--clr-border-outside);
    background-color: var(--clr-cell-bg);
    border-radius: var(--border-radius);
}

.stats {
    display: flex;
    justify-content: space-between;
    border-top: var(--border-width-inside) solid var(--clr-border-inside);
    padding: 0.5em;
    &:first-child {
        border-top: 0;
    }
    & > * {
        overflow: hidden;
        text-overflow: ellipsis;
        flex-basis: 50%;
        &:nth-child(2) {
            text-align: end;
        }
    }
}
