@import './variables.scss';

.wrapper {
    & > * {
        text-align: end;
    }
}

.link {
    text-decoration: underline;
}

.br {
    margin-bottom: 0.2em;
}

.hr {
    margin-top: 1em;
    border: 0;
    height: 1px;
    background-image: radial-gradient(circle, $clr-icon 0%, $clr-bg-full-page 100%);
}
