html,
html[data-theme='dark'] {
    --clr-bg-full-page: hsl(0, 0%, 10%);
    --clr-icon: hsl(0, 0%, 90%);

    // text
    --clr-text: hsl(0, 0%, 90%);
    --clr-text-headings: hsl(0, 0%, 90%);
    --clr-text-link: hsl(0, 0%, 90%);
    --clr-text-link-hover: hsl(300, 76%, 72%);
    --font-family: arial;

    // cells
    --clr-cell-bg: hsl(0, 0%, 9%);
    --clr-border-outside: hsl(0, 0%, 75%);
    --clr-border-inside: hsl(0, 0%, 90%);
    --border-width-outside: 1px;
    --border-width-inside: 1px;
    --border-radius: 0.25em;
}
html[data-theme='light'] {
    --clr-bg-full-page: hsl(0, 0%, 100%);
    --clr-icon: hsl(0, 0%, 0%);

    // text
    --clr-text: hsl(0, 0%, 0%);
    --clr-text-headings: hsl(0, 0%, 0%);
    --clr-text-link: hsl(0, 0%, 0%);
    --clr-text-link-hover: hsl(278, 100%, 25%);
    --font-family: arial;

    // cells
    --clr-cell-bg: hsl(0, 0%, 95%);
    --clr-border-outside: hsl(0, 0%, 25%);
    --clr-border-inside: hsl(0, 0%, 0%);
    --border-width-outside: 1px;
    --border-width-inside: 1px;
    --border-radius: 0.25em;
}

:root {
    background-color: var(--clr-bg-full-page);
    padding: 0;
    margin: 0;
    padding-left: 10em;
    padding-right: 10em;
    font-family: var(--font-family);
}

span {
    color: var(--clr-text);
}

a {
    color: var(--clr-text-link);
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: var(--clr-text-link-hover);
    }
}

h1 {
    color: var(--clr-text-headings);
    font-size: larger;
}

p {
    color: var(--clr-text);
}

.row {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1em;
    & > * {
        width: 20em;
        margin: 0 1em;
    }
}

@media screen and (max-width: 1100px) {
    .row {
        & > * {
            width: 100%;
        }
    }
    :root {
        padding-left: 5em;
        padding-right: 5em;
    }
}

@media screen and (max-width: 700px) {
    .row {
        margin: 0;
        & > * {
            width: 100%;
            margin: 0;
        }
    }
    :root {
        padding-left: 0em;
        padding-right: 0em;
    }
}
