.wrapper {
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
}

.right {
    display: flex;
    & > * {
        align-self: center;
        color: var(--clr-icon);
        margin-left: 0.25em;
    }
}
