@import './variables.scss';

.wrapper {
    display: flex;
    border: $border-width-outside solid $clr-border-outside;
    border-radius: $border-radius;
    background-color: $clr-cell-bg;
    justify-content: space-between;
    padding: 0.5em;
    & > :nth-child(2) {
        padding-left: 1em;
        padding-right: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & > * {
        flex-basis: content;
        align-self: center;
    }
}

.header {
    font-size: larger;
    font-weight: bold;
}
