.wrapper {
    display: flex;
    border: var(--border-width-outside) solid var(--clr-border-outside);
    border-radius: var(--border-radius);
    background-color: var(--clr-cell-bg);
    justify-content: space-between;
    padding: 0.5em;
    & > :nth-child(2) {
        padding-left: 1em;
        padding-right: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & > * {
        flex-basis: content;
        align-self: center;
    }
}

.header {
    font-size: larger;
    font-weight: bold;
}
