$clr-bg-full-page: hsl(0, 0%, 10%);
$clr-icon: hsl(0, 0%, 90%);

// text
$clr-text: hsl(0, 0%, 90%);
$clr-text-headings: hsl(0, 0%, 90%);
$clr-text-link: hsl(0, 0%, 90%);
$clr-text-link-hover: hsl(300, 76%, 72%);
$font-family: arial;

// cells
$clr-cell-bg: hsl(0, 0%, 9%);
$clr-border-outside: hsl(0, 0%, 75%);
$clr-border-inside: hsl(0, 0%, 90%);
$border-width-outside: 1px;
$border-width-inside: 1px;
$border-radius: 0.25em;
